<div class="item-container">
  <div class="cell">{{ item.dt * 1000 | date : 'HH:mm' }}</div>
  <div *ngIf="iconUrl" class="cell"><img [src]="iconUrl"></div>
  <div class="cell">
    {{ item.main.temp }} 
    <span *ngIf="units === 'imperial'">°F</span>
    <span *ngIf="units === 'metric'">°C</span>
  </div>
  <div class="cell">{{ item.weather[0].description }}</div>
  <div class="cell">
    {{ item.wind.speed }} 
    <span *ngIf="units === 'imperial'">m/h</span>
    <span *ngIf="units === 'metric'">km/h</span>
  </div>
</div>