<input type="radio" value="metric"/> C
<input type="radio" value="imperial"/> F


<div class="block">
    <h2>Hourly weather and forecasts in {{ cityName }}</h2>
</div>

<div class="block">
  <input 
    type="text" 
    placeholder="city" 
    class="city-input"
    formControlName="city"
    (keyup.enter)="onEnter(input.value)" 
    #input/>
  <span class="input-icon" (click)="onEnter(input.value)"></span>
</div>

<div class="block">
  <dp-day-calendar 
    class="item"
    [config]="config" 
    [theme]="'dp-material'" 
    (onSelect)="dateChanged($event)">
  </dp-day-calendar>
  
  <app-time-panel 
    *ngIf="state.forecastList$"
    class="item"
    [list]="state.forecastList$ | async" 
    [startTime]="startTime"
    class="time-panel">
  </app-time-panel>
</div>