.block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.unit-checker {
  position: absolute;
  right: 50px;
  top: 20px;
  display: flex;
  border-radius: 0.25rem;

  &>div {
    height: 30px;
    width: 50px;
    background-color: black;
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    z-index: 2;

    &:first-child {
      border-bottom-left-radius: 0.25rem;
      border-top-left-radius: 0.25rem;
    }
    &:last-child {
      border-bottom-right-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }

    &.selected {
      background-color: #3F51B5;
      cursor: default;
    }
  }
}

h2 {
  margin-top: 40px;
}

app-time-panel, owl-date-time-inline {
  margin-top: 40px;
}

.city-input {
  width: 100%;
  margin: 5px 20px;
  height: 22px;
  border-radius: 0.25rem;
  font-size: 18px;
  padding: 8px 40px 8px 15px;
}
.input-icon {
  background-image: url('../../../../assets/img/search.svg');
  position: absolute;
  top: 14px;
  right: 34px;
  height: 23px;
  width: 23px;
  cursor: pointer;
}