<div class="unit-checker">
  <div [class.selected]="selectedUnits === 'metric'" (click)="chageUnits('metric')">
    <span>°C</span>
  </div>
  <div [class.selected]="selectedUnits === 'imperial'" (click)="chageUnits('imperial')">
    <span>°F</span>
  </div>
</div>

<div class="block">
  <h2>Hourly weather and forecasts in {{ state.cityName$ | async }}</h2>
</div>

<div class="block">
  <input 
    type="text" 
    placeholder="City" 
    class="city-input"
    (keyup.enter)="onEnter(input.value)" 
    #input/>
  <span class="input-icon" (click)="onEnter(input.value)"></span>
</div>

<div class="block">
  <owl-date-time-inline 
    [ngModel]="selectedMoment"
    (ngModelChange)="dateChanged($event)"
    [pickerType]="'calendar'"
    [min]="minDate"
    [max]="maxDate">
  </owl-date-time-inline>
  
  <app-time-panel 
    [list]="state.forecastList$ | async" 
    [startTime]="startTime"
    [units]="selectedUnits"
    class="time-panel">
  </app-time-panel>
</div>